body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
#physics-work {
    height: 90%;
    outline: none;
}
#physics-work::-webkit-media-controls {
    display: none;
}
